[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/vjousse/symfony-1.3---1.4.git
[submodule "plugins/sfPropelORMPlugin"]
	path = plugins/sfPropelORMPlugin
	url = git://github.com/propelorm/sfPropelORMPlugin
