table.buglist
{
  border-collapse: collapse;
  border: 2px solid #000;
  text-align:center;
  font-size:13px;
}

.buglist td, .buglist th
{
  border:1px solid gray;
  padding: 2px;
  vertical-align: top;
}

.buglist th
{
  border-bottom: 2px solid #000;
}

.enhancement, .low
{
  color: gray;
}

.major
{
  font-weight: bold;
}

.critical
{
  font-weight: bold; 
  color: red;
}

.feedback
{
  background-color: #dfdfdf;
}