table.buglist
{
  border-collapse: collapse;
  text-align:center;
  font-size:13px;
}

.buglist td, .buglist th
{
  border:1px solid gray;
  padding: 2px;
  vertical-align: top;
}

.enhancement, .low
{
  color: gray;
}

.major
{
  font-weight: bold;
}

.critical
{
  font-weight: bold; 
  color: red;
}

.feedback
{
  background-color: #ccc;
}