#backports
{
  position: relative;
  width:49% ;
  float: right;
}

#updates
{
  position: relative;
  width:49%;
  float: left;
}

#intro p
{
  padding-top:6px;
  text-align:justify;
  text-indent:30px;
}
