body
{
  margin:0px;
}

#header
{
  position:relative;
  height:60px;
  background-color:#4156F2;
}

#global
{
}
#menu
{
  position:absolute;
  top:60;
  left:0;
  width:20%;
  height:100%;
}

#menu li
{
  font-family:verdana;
  font-size:x-small;
}

#content
{
  position:absolute;
  top:60;
  right:0;
  width:80%;
  height:100%;
}

#user_infos
{
  top:5px;
  position:absolute;
  width:150px;
  right:5px;
  text-align:right;
}

#user_infos a
{
  color:black;
  font-weight:bold;
  font-family:verdana;
  font-size:small;
}

h1
{
  font-family:verdana;
  border-bottom: 1px solid black;
  font-size:x-large;
}

div.pager
{
/*  margin-left:auto;
  margin-right:auto;
  width:100%*/
  text-align:center;
}

.pager li
{
  display: inline;
  border : 1px solid #B6BADB;
  padding: 2px;
  font-family:verdana;
  font-size:small;
}

.pager li.current
{
  color:#4156F2;
  font-weight:bold;
}

.pager li:hover
{
  background-color:#4156F2;
}

.pager a, .pager a:visited
{
  text-decoration:none;
  color:black;
}

.pager p
{
  font-style:italic;
  font-family:verdana;
  font-size:x-small;
  margin-top:-5px;
}
