body
{
  margin:0px;
}

#header
{
  position:relative;
  height:60px;
}

#global
{
}
#menu
{
  position:absolute;
  top:60;
  left:0;
  width:20%;
  height:100%;
}

#menu li
{
  font-family:verdana;
  font-size:x-small;
}

#content
{
  position:absolute;
  top:60;
  right:0;
  width:80%;
  height:100%;
}

#user_infos
{
  top:5px;
  position:absolute;
  width:150px;
  right:5px;
  text-align:right;
}
