.new
{
  margin-top:4px;
}

div.apply
{
  text-align:center;
  font-weight:bold;
  margin:1px 5px 1px 5px;
}

div.apply:hover
{
  background-color:#666;
  cursor:pointer;
}

.fleche
{
  font-weight:bolder;
}

.new1
{
  height:150px;
  background-color:#ccc;
  overflow:auto;
  border:1px solid #996A75;
  position:absolute;
}

.new1 span
{
  font-family:verdana;
  font-size:small;
}

.new1 input[type=text]
{
  width:95%;
  margin-left:2px;
  margin-top:2px;
}

.new label
{
  cursor:pointer;
}

.span
{
  border:1px solid;
  padding:2px 5px 2px 5px ;
  font-size:small;
  border-color: #ccc #666 #666 #ccc;
  background-color:#fff;
  color:#000;
}

.span:hover
{
  border-color: #666;
}
