.filterwidget
{
  float:left;
}

div.disabled_filter, div.disabled_filter div.button span
{
  cursor:not-allowed;
  color: #888;
}

.filterwidget .button
{
  border:1px solid;
  padding:2px 5px 2px 5px ;
  font-size:small;
  border-color: #ccc #666 #666 #ccc;
  background-color:#fff;
  color:#000;
}

.disabled_filter .button
{
  background-color:#ddd;
}

.filterwidget .button:hover
{
  background-color: #bbb;
}

.disabled_filter .button:hover
{
  background-color: #ddd;
}


.filterwidget .arrow
{
  margin-left:5px;
}

.filterwidget div.widgetcontent
{
  margin-top:4px;
  font-size: 14px;
  overflow-y:auto;
  overflow-x: hidden;
  max-height:200px;
/*  margin-left:8px;
  margin-right:8px;*/
}

.filterwidget div.widgetcontent1
{
  background-color:#fff;
  border:1px solid #03344D;
  position:absolute;
  z-index:1200;
  font-size:small;

  -moz-box-shadow: -2px 2px 4px 0px #656565;
  -webkit-box-shadow: -2px 2px 4px 0px #656565;
  -o-box-shadow: -2px 2px 4px 0px #656565;
  box-shadow: -2px 2px 4px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=224, Strength=4);
}

.filterwidget div.widgetcontent1 input[type=text]
{
  width:85%;
  margin-left:2px;
  margin-top:2px;
}

.filterwidget div.widgetcontent1 i.icon-search
{
  margin-left:3px;
}



.filterwidget div.widgetcontent div
{
  width:100%;
  padding:2px;
  padding-left:15px;
  padding-right:5px;
  cursor:pointer;
}

.filterwidget div.widgetcontent1 div.widgetcontent div:hover
{
  background-color:#FFD973;
  color:#000;
}

.filterwidget div.widgetcontent1 div.widgetcontent div.selected
{
  background-color:#2397D4;
  color:#fff;
}

.filterwidget div.widgetcontent1 div.widgetcontent div input[type=checkbox]
{
  vertical-align:middle;
  margin-right:4px;
}


.filterwidget div.apply
{
  text-align:center;
  font-weight:bold;
  margin:1px 5px 1px 5px;
  height:20px;
  padding-top:5px;
}

.filterwidget div.apply:hover
{
  cursor:pointer;
  background-color:#262F45;
  color:#000;
  background-color:orange;
}


.filterwidget div.widgetcontent label
{
  cursor:pointer;
  white-space: nowrap;
  display:inline-block;
  vertical-align:middle;
}


